:root {
    --scale: 50vw;
    --rouletteSpin: 0deg;
	--pinkColor: #F2668B;
	--whiteColor: #F2F2F2;
	--blackColor: #0D0D0D;
	--spinButtonSize: 5.5vw;
}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    user-select: none;
	font-size: 3rem;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
	padding: 1rem;
}

#winner-panel {
    position: absolute;
	background-color: var(--pinkColor);
	color: var(--whiteColor);
	border: 2px var(--blackColor) solid;
	border-radius: 20%;
    left: -150px;
	top: -40px;
    min-height: 55px;
	width: 300px;
	font-weight: bold;
	font-size: 1.2rem;
}

#score {
    position: absolute;
	z-index: 10;
	top: -20px;
	background-color: black;
	height: 8vh;
	width: 5px;
	pointer-events: none;
}

#roulette {
    position: relative;
    width: var(--scale);
    height: var(--scale);
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}

#options-container {
    transform-origin: center;
}

#sort {
    position: absolute;
	background-color: rgb(255, 76, 76);
	border-radius: 50%;
	width: var(--spinButtonSize);
	height: var(--spinButtonSize);
	top: calc(var(--scale) / 2 - var(--spinButtonSize) / 2 );
	left: calc(var(--scale) / 2 - var(--spinButtonSize) / 2 );
	z-index: 2;
	text-align: center;
	cursor: pointer;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.option {
    position: absolute;
	top: 0px;
	left: 0px;
	height: var(--scale);
	width: var(--scale);
	background-color: var(--color);
	transform: rotate(var(--deg));
}

.name {
    margin: 0;
	padding-top: 3vh;
	color: white;
	text-align: center;
	height: calc(var(--scale) / 2);
	position: absolute;
	top: -0%;
	left: calc(var(--scale) / 4 );
	transform-origin: bottom center;
	font-size: calc(var(--scale) / 25 );
	text-overflow: clip;
	pointer-events: none;
}

.separator {
    position: absolute;
	left: calc(var(--scale) / 2 - 1px);
	height: calc(var(--scale) / 2);
	width: 4px;
	transform-origin: center bottom;
	background-color: rgb(0, 0, 0);
	z-index: 1;
	border-radius: 2px;
}

.spin {
    animation-name: spin;
	animation-duration: 5s;
	animation-timing-function: cubic-bezier(0.1, 0, 0.18, 0.99);;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

@keyframes spin {
	100% {
		transform: rotate( var(--rouletteSpin) );
	}
}

@media (min-width: 1200px) {
    :root {
        --scale: 500px !important;
    }
}

@media (min-width: 777px) and (max-width: 1374px) {
    :root {
		--spinButtonSize: 7vw;
	}
}

@media (max-width: 768px) {
    :root {
        --scale: 70vw;
		--spinButtonSize: 9vw;
    }

    h1 {
        font-size: 6vw;
    }

    .name {
        font-size: calc(var(--scale) / 30);
    }
}

@media (max-width: 480px) {
    :root {
        --scale: 90vw;
		--spinButtonSize: 17vw;
    }

    h1 {
        font-size: 7vw;
    }

    .name {
        font-size: calc(var(--scale) / 35);
    }
}